@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Tiny5&display=swap");
:root {
  --log-height: 14vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Micro 5";
}

body {
  height: 100vh;
}

.tree,
.lumberjack {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.top {
  height: calc(7 * var(--log-height));
  width: 100%;
  background-image: url("../images/sky.png");
  background-size: cover;
  position: absolute;
  top: calc(var(--log-height) * -1);
  display: flex;
  justify-content: center;
  z-index: 100;
}
.top .game {
  position: relative;
}
.top .game .log {
  background-image: url("../images/bark.png");
  width: var(--log-height);
  height: var(--log-height);
  background-size: cover;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0);
}
.top .game .log .right-branch {
  position: absolute;
  right: calc(-2 * var(--log-height));
  width: calc(var(--log-height) * 2);
  height: var(--log-height);
}
.top .game .log .left-branch {
  position: absolute;
  left: calc(var(--log-height) * -2);
  transform: scaleX(-1);
  width: calc(var(--log-height) * 2);
  height: var(--log-height);
}
.top .explosion {
  position: absolute;
  bottom: -3vh;
  z-index: 1000;
  width: calc(var(--log-height) * 1.4);
  height: calc(var(--log-height) * 1.4);
  display: none;
}
.top .exp-left {
  right: calc(var(--log-height) * 1.1);
}
.top .exp-right {
  left: calc(var(--log-height) * 1.1);
}
.top .lumberjack {
  position: absolute;
  background-image: url(../images/cica0.png);
  background-size: cover;
  width: calc(var(--log-height) * 1.2);
  height: calc(var(--log-height) * 1.2);
  bottom: -3vh;
}
.top .lj-left {
  right: calc(var(--log-height) * 1.15);
}
.top .lj-right {
  left: calc(var(--log-height) * 1.15);
  transform: scaleX(-1);
}
.top .x-space {
  position: absolute;
  width: 4vh;
  height: var(--log-height);
  bottom: 0;
  z-index: 1000;
}
.top .x-space img {
  position: absolute;
  width: 5vh;
}
.top .x-left {
  right: var(--log-height);
}
.top .x-right {
  left: var(--log-height);
}

.bottom {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 6 * var(--log-height));
  width: 100%;
  background-image: url("../images/zemlja.png");
  background-size: cover;
}

.ui {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

.score {
  font-size: 50px;
  background-color: #bd7055;
  border: solid 8px #884031;
  padding: 0 0.1em 0 0.2em;
  color: #fff;
  height: 65px;
}

.timer {
  font-size: 100px;
  line-height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timer img {
  width: 15vh;
}
.timer p {
  color: hsl(120, 100%, 60%);
  position: absolute;
  font-size: 10vh;
  padding-left: 0.9vh;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: grid;
  place-items: center;
  background-color: rgba(34, 32, 52, 0.4588235294);
}
.popup .keys {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 30vh;
  width: 30vh;
  border: solid 10px #222034;
  display: grid;
  place-items: center;
}
.popup .keys img {
  width: 90%;
}
.popup .play {
  width: 12vh;
  cursor: pointer;
  transition-duration: 0.4s;
}
.popup .play:hover {
  transform: scale(0.9);
}
.popup .play:active {
  transform: scale(0.95);
  transition-duration: 0.1s;
}/*# sourceMappingURL=style.css.map */