:root {
  --log-height: 14vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  //outline: dashed 2px red;
}

body {
  height: 100vh;
}

img {
  user-select: none;
  pointer-events: none;
}

.top {
  height: calc(7 * var(--log-height));
  width: 100%;
  background-color: lightblue;
  position: absolute;
  top: calc(var(--log-height) * -1);
  display: flex;
  justify-content: center;
  z-index: 10000;
  .game {
    position: relative;

    .log {
      background-image: url('../images/bark.png');
      width: var(--log-height);
      height: var(--log-height);
      background-size: cover;
      position: relative;
      border: solid 1px #00000000;
      .right-branch {
        position: absolute;
        right: calc(-2 * var(--log-height));
        width: calc(var(--log-height) * 2);
        height: var(--log-height);
      }

      .left-branch {
        position: absolute;
        left: calc(var(--log-height) * -2);
        transform: scaleX(-1);
        width: calc(var(--log-height) * 2);
        height: var(--log-height);
      }
    }
  }

  .explosion {
    position: absolute;
    bottom: -3vh;
    z-index: 100000;
    width: calc(var(--log-height) * 1.4);
    height: calc(var(--log-height) * 1.4);
    display: none;
  }

  .exp-left {
    right: calc(var(--log-height) * 1.1);
  }

  .exp-right {
    left: calc(var(--log-height) * 1.1);
  }

  .lumberjack {
    position: absolute;
    background-image: url(../images/cica0.png);
    background-size: cover;
    width: calc(var(--log-height) * 1.2);
    height: calc(var(--log-height) * 1.2);
    bottom: -3vh;
  }

  .lj-left {
    right: calc(var(--log-height) * 1.15);
  }

  .lj-right {
    left: calc(var(--log-height) * 1.15);
    transform: scaleX(-1);
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  height: calc(100vh - calc(6 * var(--log-height)));
  width: 100%;
  background-color: lightgreen;
}

.score {
  position: absolute;
  z-index: 100000000;
  left: 10px;
  top: 10px;
}
