@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Tiny5&display=swap');

:root {
  --log-height: 14dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
  // outline: dashed 2px red;
}

body {
  height: 100dvh;
  font-family: 'Micro 5';
}

.tree,
.lumberjack {
  user-select: none;
  pointer-events: none;
}

.top {
  height: calc(7 * var(--log-height));
  width: 100%;
  background-image: url('../images/sky.png');
  background-size: cover;
  position: absolute;
  top: calc(var(--log-height) * -1);
  display: flex;
  justify-content: center;
  z-index: 100;
  overflow-x: clip;

  .game {
    position: relative;

    .log {
      background-image: url('../images/bark.png');
      width: var(--log-height);
      height: var(--log-height);
      background-size: cover;
      position: relative;
      border: solid 1px #00000000;

      .right-branch {
        position: absolute;
        right: calc(-2 * var(--log-height));
        width: calc(var(--log-height) * 2);
        height: var(--log-height);
      }

      .left-branch {
        position: absolute;
        left: calc(var(--log-height) * -2);
        transform: scaleX(-1);
        width: calc(var(--log-height) * 2);
        height: var(--log-height);
      }
    }
  }

  .explosion {
    position: absolute;
    bottom: -3dvh;
    z-index: 1000;
    width: calc(var(--log-height) * 1.4);
    height: calc(var(--log-height) * 1.4);
    display: none;
  }

  .exp-left {
    right: calc(var(--log-height) * 1.1);
  }

  .exp-right {
    left: calc(var(--log-height) * 1.1);
  }

  .lumberjack {
    position: absolute;
    background-image: url(../images/cica0.png);
    background-size: cover;
    width: calc(var(--log-height) * 1.2);
    height: calc(var(--log-height) * 1.2);
    bottom: -3dvh;
  }

  .lj-left {
    right: calc(var(--log-height) * 1.15);
  }

  .lj-right {
    left: calc(var(--log-height) * 1.15);
    transform: scaleX(-1);
  }

  .x-space {
    position: absolute;
    width: 4dvh;
    height: var(--log-height);
    bottom: 0;
    z-index: 1000;
    // background-color: aquamarine;
    img {
      position: absolute;
      width: 5dvh;
    }
  }

  .x-left {
    right: var(--log-height);
  }

  .x-right {
    left: var(--log-height);
  }

  .grass {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: -2dvh;
    width: 18dvh;
    user-select: none;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  height: calc(100dvh - calc(6 * var(--log-height)));
  width: 100%;
  background-image: url('../images/zemlja.png');
  background-size: cover;
}

.ui {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

.score {
  font-size: 50px;
  background-color: #bd7055;
  border: solid 8px #884031;
  padding: 0 0.1em 0 0.2em;
  color: #fff;
  height: 65px;
}

.timer {
  font-size: 100px;
  line-height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 15dvh;
  }

  p {
    color: hsl(120, 100, 60);
    position: absolute;
    font-size: 10dvh;
    padding-left: 0.9dvh;
  }
}

.popup {
  position: absolute;
  width: 100%;
  height: 100dvh;
  z-index: 10000;
  display: grid;
  place-items: center;
  background-color: #22203475;

  .keys {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 30dvh;
    width: 30dvh;
    border: solid 10px #222034;
    display: grid;
    place-items: center;

    img {
      width: 90%;
    }
  }

  .play {
    width: 12dvh;
    cursor: pointer;
    transition-duration: 0.4s;
    user-select: none;
  }

  .play:hover {
    transform: scale(0.9);
  }

  .play:active {
    transform: scale(0.95);
    transition-duration: 0.1s;
  }
}

@media only screen and (max-width: 600px) {
  .keys {
    visibility: hidden;
  }

  .bottom {
    background-image: url('../images/zemlja-mobile.png');
  }
}
